.leftsidebar{
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    padding: 100px 0 0 280px;

}
.leftsidebarlist{
    width: 100%;
   margin-top: 40px;
   display: flex;
   flex-direction: column; 
   margin-bottom: 80px;
  
  
  
  }
  .leftsidebarlistlink{
    text-decoration: none;
    font-size: 22px;
    color:#032d60 ;
    font-weight: 500;
  }
  