*{
    margin: 0;
    padding: 0;
}
.businesscard{
    width: 270px;
    height: 400px;
 
}
.businessCardImage{
    width: 100%;
}
.sectionFiveText{
    text-decoration: underline;
    font-size: 18px;
    font-weight:900;
    margin-top: 40px;
}