*{
    margin: 0;
    padding: 0;
}
.sectionFivelist{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    
}

@media screen and (max-width:600px){
    .sectionFivelist{
        flex-direction: column;
    align-items: center;
    width: 100vw;
    }
    .sectionfiveslogen{
        padding: 0 40px;
    }

}