.productCard{
    height: 420px;
    width: 18vw;
    box-shadow: 0 0 10px 1px rgba(144, 144, 149,0.4) ;
    border-radius: 20px;
    margin: 20px 10px;
}

.CardImg{
    height: 38%;
    width: 100%;
    border-radius: 20px;
}
.cardCanten{
    margin: 15px;
    padding: 5px;
}
.title{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #032d60;
}
.content{
    font-size: 17px;
}
.link{
    text-decoration: underline;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #032d60;
   cursor: pointer;
   font-weight: 700;
}
.link:hover{
    border-color:#0176d3 ;
    color: #0176d3;
}

@media only screen and (max-width: 600px){
    .productCard{
        height: 420px;
        width: 76vw;
        box-shadow: 0 3px 5px 1px rgb(144, 144, 149) ;
        border-radius: 20px;
        margin-top: 20px;
        display: block;
        margin: 30px auto 0 auto;

    }
    .title{
        font-size: 25px;
       
    }
    .content{
        font-size: 20px;
    }
    .link{
        
        
        margin-top: 25px;
        font-size: 18px;
        
    }
}