*{
    margin: 0;
    padding: 0;
}
.sectionOne{
    width: 100%;
    /* height: 650px; */
   
    display: flex;
    justify-content: space-around;

}
.sectionOneOfOne{
    width: 47%;
 
   padding-top: 180px;
 
}
.sectionOneOfTwo{
    width: 43%;
    
    height: 100%;
 
}


.sectionOneImage{
    width: 100%;
    margin-top: 50px;
  
}
.slogen{
    font-size: 48px;
    line-height: 55px;
    font-weight:bolder;
    color: #032d60;
}

.text{
    font-size: 23px;
    margin-top: 20px;
   
}
.buttonGroup{
    display: flex;
    margin-top: 40px;
}
.buttonRight{
    margin-left: 30px;

}
.svgpath{
    margin-top: -300px;
}

@media screen and (max-width:600px){
    .sectionOne{
        flex-direction: column;
        background-color: #eaf5fe;


    }
    .sectionOneImage{
        width: 90%;
        margin: 20px auto;
        display: block;
      
    }


    .sectionOneOfOne{
        width: 100%;
        padding: 20px 0;
     
    }
    .sectionOneOfTwo{
        width: 100%;
        
        height: 100%;
     
    }
    .slogen{
        font-size: 40px;
        line-height: 45px;
    padding-left: 20px;
    }
    .sectiononetext{
        font-size: 20px;
        margin-top: 20px;
        text-align: start;
        padding-left: 20px;
       
    }
    .buttonGroup{
        padding-left: 20px;
       
       
    }
  
    .buttonRight{
        margin-left: 10px;
    
    }  

}