*{
    margin: 0;
    padding: 0;
}
.sideBar{
    display: flex;
    flex-direction: row;

}
.sidebarright{
    width: 50vw;
    height: 85vh;
    /* background-color: rgb(238, 201, 207); */
    overflow: scroll;
    background-color: #eaf5fe;
    padding-top: 200px;
  }
  .sidebarright ul{
    display: flex;
    flex-direction: column;
    margin-top: 60px;

  }
  .sidebarrighthead{
    margin-left:65px;
    text-align: start;
    }
  .sidebarrighttext{
    margin-left:65px;
    text-align: start;
    font-size: 25px; }
 .sidebarrightanchor{
    font-size: 25px;
    margin:20px 65px;
    text-decoration: underline;
    color: #032d60;
    font-weight: 600; }
   .sidebarright ul li{
    list-style: none;
    margin: 5px 40px;
    font-size: 25px;
    font-weight: 700;
    color: #032d60;}
   .sidebarrightbcimg{
    width: 100%; }
   .sidebarrighticon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 0.5px rgb(165, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 65px; }
   .sidebarrightimg{
    width: 45px;

   }

   /* -------------------mediaquery-------------- */

   @media screen and (max-width:600px){
    .sideBar{
     
      flex-direction: column;
  
  }
  .sidebarright{
    width: 100vw;
  }

   }
