

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;

font-family: 'Lato', sans-serif;


}

.header{
    display: flex;
  width: 100vw;
  height: 100px;
  background-color: #fff;

}
.logo{
 
  display: flex;
  justify-content:end;
  align-items: center;


}
.logoSvg{
  display: block;
  margin-left:30px;
}

.navbarList{
  display: flex;
  align-items: center;
  width: 60%;
  justify-content:space-evenly;

  height: 100%;
 /* background-color: red; */
 margin-left: -20px;
 margin-right: 20px;
}
.navbarList li{
  list-style: none;
}
.navbarList li a{
  text-decoration: none;
  color: #032d60;
  font-size: 20px;
  font-weight: 700;
 
}
.active{
  color: blue !important;
 

}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #032d60;
}
.contact div{
  font-size: 18px;
}
.leftNavList{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  width: 30%;
 

}

.iconHover{
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #032d60;
}
.iconHover:hover{
 
  background-color: #eaf5fe;
  
}
.userLogin{
 
  padding: 10px;
  border-radius: 30px;
  font-weight: bold;
 color: #032d60;
 text-decoration: none;
 font-size: 20px;
}
.userLogin:hover{
  background-color: #eaf5fe;
  
}

