.industriesupimg{
    width: 100%;
    margin-top: -20px;
}
.industriesicon{
    width: 140px;
   
}
.industriesbtn{
    display: flex;
    justify-content: center;
    margin-top: 40px;




}

.industriesbcimg{
    width: 100%;
    margin-top: 50px;
}
.textalign {
    text-align: center;
}