.companycardofsectionthree{
    display: flex;
   
    justify-content: center;
    margin: 30px;
}

.companycard{
 display: flex;
 
 justify-content: center;
}
.companytext
{
    text-align: center;
    font-weight: 650;
}
.campnanylogo-img{
    margin-left: 20px;
}

.sales-text
{
    text-align: center;
    font-size: 20px;
}